/*FORMULARIO DE TURNOS*/

body {
  width:100%;
  height: 100%;
  background-color:#fff ;
}

/*Logo*/
.navbar {
  justify-content:flex-start;
  font-size: xx-large;
  font-family: "Girassol", cursive;
  text-transform: uppercase;
  border-radius: .25rem ;
}

.navbar_h1{
  margin-left: 5px;
  
}
/*Menu Navegacion*/

.container_nav {
  display: flex;

  
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #212529;
  color: #7cc576;
  font-size:medium;
 
  
 
}
.nav-link {
 
  color: #7cc576;
  font-size:large;
  background-color: #212529;
  font-family: sans-serif;
  flex-wrap: wrap;

}

.form {
  
  background-color: #212529;
  color: #fff;
  position: relative;
  font-family: sans-serif;
}

.texto {
  line-height: 2em;
  text-align: center;
  
  font-size: x-large;
  font-family: sans-serif;

}
.texto_h2 {
  color: #7cc576;
  margin-top: 10px;

}
.input-group-text{
width: 20%;
}
.form-check .form-check-input {
  
  float: none;
  background-color: #7cc576;
  border-color: #fff;
  border:solid #fff 0.2rem;
  font-size: larger;
}




.col-12 {
background-color:#212529 ;
}

.btn-primary{
  background-color:#7cc576 ;
}
:hover.btn-primary {
  background-color:#212529;
}