@import "parcial/variables";
@import "parcial/logic";
@import "parcial/reset";    

  
/*Logo */
  .navbar {
    
    font-size: xx-large;
    font-family: "Girassol", cursive;
    text-transform: uppercase;
    border-radius: .25rem ;
    color:rgba(0,0,0,.9);
    text-align: center;
  }
  
  
  .navbar_h1{
    margin-left: 5px;
  }
  
  /*Finaliza Logo*/
  .container_nav {
    display:flex;
    background-color: $blanco;
  }
  
  .nav{
    align-items: center;}
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      background-color: #212529;
      color:$color;
      
  }
    
  .nav-link {
      color:$color;
      font-size:medium;
      font-family: sans-serif;
    } 
  .contenedor {
    text-align: center;
    font-size: 10mm;
    border: 1px solid black;
    padding: 20px;
    background-color: #212529;
    line-height: 4rem;
  }
    

  
  
  /*final del menu de navegacion*/
  
  
  /*contenido principal*/
  
  .carousel-item{
   height: 500px;
   width: 80%;
   max-height: 500px;
   object-position: center;
   margin-left: 10%;
   margin-top: 5%;
  
  }
  .img_carousel{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
   
  }
  
  
  .img_carousel2 {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: contain;
  
  
  }
  
  
  .img_carousel3 {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }
  
  /*final contenido principal*/
  
 
  /*prueba de Mixin*/
  .parrafo__h3 {
    
    padding: 10px;
    margin-top: 55px;
    color: #fff;
    font-size: xx-large;
    text-align: center;
    
   
  }
    .parrafo {
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
    line-height: 2rem;
  }
   /*texto y tabla*/
  .table {
   
    background-color:$color;
    border-radius: .25rem ;
    border:$border-2;
  }
 .table_thead {
        color: black;
        
  }
   

.tr_td {
    color: black;
    font-size: large;
  }
  
  
  /*tarjeta*/
  .container_card {
  
    border: 1px solid black;
   font-size: larger;
    line-height: 1em;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color:$blanco;
    color:rgb(53, 224, 53);
    flex-wrap: wrap;
    
  }
  
  .card-title{
    color:black;
    font-weight: bold;

  }
  .dias{
    color:black;
    
  }
  .card-text {
    color:black;
  }
 
     



  /*footer*/
  
  /*commens*/
  #footer {
    background: url("../img/footer-bg.jpg") center center no-repeat;
    color:$blanco;
    font-size: 14px;
    position: relative;}
   
    /*¿Donde estamos?*/
    .ubicacion {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      align-items: center;
     
    }

    #donde_estamos{
      color: $color;
      text-align: center;
      font-size: x-large;
      padding: 20px;

    }
    .direccion {
      text-align: center;
      color: $blanco;
      font-size: medium;
    }
    .contendor_img--ubicacion {
      display: flex;
      align-items: center;
      
    }
    .img_ubicacion{
      width: 100%;
      height: 100%;
      
    }
    
    
  
  /*USO DE EXTEND*/
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    @extend .red;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 30px 0 0 0;
    margin-bottom: 0;
    text-align: center;
  }

  
  
  
  

  
