@charset "UTF-8";
/*EXTEND*/
.red {
  color: black;
}

/*FORMULARIO DE TURNOS*/
body {
  width: 100%;
  height: 100%;
  background-color: #464444;
}

/*menu hamburguesa */
.respmenu ul {
  list-style: none;
}

.respmenu a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  max-width: 200px;
  background: #fff;
  font-family: var(--bs-font-sans-serif);
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(68, 67, 67, 0.959)));
  background: linear-gradient(0deg, white, rgba(68, 67, 67, 0.959));
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.respmenu .fa-bars {
  font-size: 45px;
  pointer-events: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.respmenu .fa-bars:hover {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.respmenu .fa-times {
  font-size: 35px;
  pointer-events: none;
  color: black;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  color: #212529;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(68, 67, 67, 0.959)));
  background: linear-gradient(0deg, white, rgba(68, 67, 67, 0.959));
  min-height: 48px;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

/*Logo */
.navbar {
  font-size: large;
  font-family: "Girassol", cursive;
  text-transform: uppercase;
  border-radius: .25rem;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

a:hover {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar_h1 {
  margin-left: 10px;
}

.container_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(68, 67, 67, 0.959)));
  background: linear-gradient(0deg, white, rgba(68, 67, 67, 0.959));
}

/*Finaliza Logo*/
.form {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(68, 67, 67, 0.959)));
  background: linear-gradient(180deg, white, rgba(68, 67, 67, 0.959));
  color: black;
  font-family: sans-serif;
}

.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.texto {
  line-height: 2em;
  text-align: center;
  font-size: x-large;
  font-family: sans-serif;
  color: #00e1ff;
}

.texto_h2 {
  color: black;
  padding: 20px;
  font: bold;
}

.strong_p {
  color: black;
  text-align: center;
}

.input-group-text {
  display: inline-block;
  font-weight: bolder;
  width: 100%;
}

.input-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  background-color: black;
  border-color: #fff;
  border: solid #fff 0.2rem;
  font-size: larger;
}

.form-check-input {
  margin-top: 15px;
}

.form-control {
  font-family: var(--bs-font-sans-serif);
  color: #00e1ff;
  padding: 5px;
}

.estilista {
  color: pink;
}

.col-12 {
  background-color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.btn-primary {
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(68, 67, 67, 0.959)));
  background: linear-gradient(0deg, white, rgba(68, 67, 67, 0.959));
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  transition: .3s;
  width: 60%;
}

:hover.btn-primary {
  background-color: #fff;
}

/*footer*/
#footer {
  color: #fff;
  font-size: 14px;
  position: relative;
}

/*¿Donde estamos?*/
.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#donde_estamos {
  color: #00e1ff;
  text-align: center;
  font-size: x-large;
  padding: 20px;
  font-weight: bold;
}

.direccion {
  text-align: center;
  color: pink;
  font-size: medium;
}

.contendor_img--ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_ubicacion {
  width: 100%;
  height: 100%;
  border-radius: .5em;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 500;
  color: #00e1ff;
  font-family: var(--bs-font-sans-serif);
  padding: 30px 0 0 0;
  margin-bottom: 0;
  text-align: center;
}

.redes {
  width: 100%;
  height: 75px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(68, 67, 67, 0.959)));
  background: linear-gradient(180deg, white, rgba(68, 67, 67, 0.959));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 6em;
          box-shadow: 6em;
}

.instagram {
  color: #ff0062;
  font-size: 50px;
}

.facebook {
  color: #4340e9;
  font-size: 50px;
}

.youtube {
  font-size: 50px;
  color: red;
}

.up {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
/*# sourceMappingURL=turnos.css.map */