.nav-link {

@if $blanco == $blanco {
    font-size:x-large;
}

  
   }

/*EXTEND*/
.red {
    color: $color;
}

@mixin prueba ($background , $font-family) {
    
    background-color: $background;
    font-family: $font-family;
}
