$blanco: #fff;


.nav-link {

 @if $color == $color {
     font-size:xx-large;
     
 }

 @if $blanco == $blanco {
     font-size:small;


 }
}

/*EXTEND*/
.red {
    color: yellow;
}

@mixin prueba ($background , $font-family) {
    
    background-color: $background;
    font-family: $font-family;
}